<div class="grid">

  <ngb-carousel *ngIf="images">
    <ng-template ngbSlide>
      <div class="picsum-img-wrapper">
        <img [src]="images[0]" alt="Random first slide" />
      </div>
      <div class="carousel-caption">
        <h3>First slide label</h3>
        <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <div class="picsum-img-wrapper">
        <img [src]="images[1]" alt="Random second slide" />
      </div>
      <div class="carousel-caption">
        <h3>Second slide label</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <div class="picsum-img-wrapper">
        <img [src]="images[2]" alt="Random third slide" />
      </div>
      <div class="carousel-caption">
        <h3>Third slide label</h3>
        <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
      </div>
    </ng-template>
  </ngb-carousel>
  

  <!-- Gallery Section -->
  <div class="col-12">
    <div class="card" >
      <h5 >Be_syessa Gallery</h5>
        <div class="grid" >
            <div class="col-12 sm:col-6 md:col-4 lg:col-3" *ngFor="let video of videos | slice:0:4">
                <div class="card m-2 border-1 surface-border align-items-center justify-content-center" style="min-height: 280px;background-color: rgb(253, 253, 249);">
                    <div class="flex flex-column align-items-center justify-content-center text-center" style="height: 100%;">
                        <!-- Video Preview -->
                        <ng-container *ngIf="video.previewUrl; else placeholder">
                            <img [src]="video.previewUrl" [alt]="video.description" class="my-0 shadow-2" 
                                 style="width: 100%; height: 150px; object-fit: cover; border-bottom: 2px solid black; margin-bottom: 0;" />
                        </ng-container>
                        <ng-template #placeholder>
                            <div class="placeholder d-flex align-items-center justify-content-center" style="width: 100%; height: 150px; border-bottom: 2px solid black; margin-bottom: 0;">
                                <i class="pi pi-image fa-2x"></i>
                            </div>
                        </ng-template>
                        <!-- Video Description -->
                        <div class="mt-2 text-lg font-bold text-center" pTooltip="{{ video.description }}" tooltipEvent="focus" tooltipPosition="bottom" style="color: rgb(37, 30, 30);">
                            {{ video.description }}
                        </div>
                    </div>

                    <!-- Play Video Button -->
                    <a [routerLink]="['/videos/player/', video.id]" class="btn btn-success mt-2 w-100 d-flex align-items-center justify-content-center">
                        <i class="pi pi-play mr-2"></i> Play Video
                    </a>
                </div>
            </div>
        </div>
    </div>
  </div>


  <!-- Recent Sales Table Section -->
  <div class="col-12 xl:col-6">
    <div class="card">
      <h5>Recent Sales</h5>
      <p-table [value]="products" [paginator]="true" [rows]="3" responsiveLayout="scroll">
        <ng-template pTemplate="header">
          <tr>
            <th>Image</th>
            <th pSortableColumn="name">Name <p-sortIcon field="name"></p-sortIcon></th>
            <th pSortableColumn="price">Price <p-sortIcon field="price"></p-sortIcon></th>
            <th>View</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-product>
          <tr>
            <td style="width: 15%; min-width: 5rem;">
              <img src="assets/demo/images/product/{{product.image}}" class="shadow-4" alt="{{product.name}}" width="50" />
            </td>
            <td style="width: 35%; min-width: 7rem;">{{product.name}}</td>
            <td style="width: 35%; min-width: 8rem;">{{product.price | currency:'USD'}}</td>
            <td style="width: 15%;">
              <button pButton pRipple type="button" icon="pi pi-search" class="p-button p-component p-button-text p-button-icon-only"></button>
            </td>
          </tr>
        </ng-template>
      </p-table>
    </div>
  </div>

  <!-- Sales Overview Chart Section -->
  <div class="col-12 xl:col-6">
    <div class="card">
      <h5>Sales Overview</h5>
      <p-chart type="line" [data]="chartData" [options]="chartOptions"></p-chart>
    </div>
  </div>

  <!-- Featured Bands Section -->
  <div class="col-12">
    <div class="card">
      <h5 >Featured Brands</h5>
      <div class="grid">
        <div class="col-12 sm:col-6 md:col-4 lg:col-3" *ngFor="let brand of brands | slice:0:4">
          <div class="card m-2 border-1 surface-border align-items-center justify-content-center" style="min-height: 280px;background-color: rgb(253, 253, 249);">
            <div class="flex flex-column align-items-center justify-content-center text-center" style="height: 100%;">
              <!-- Brand Image -->
              <ng-container *ngIf="brand.img; else placeholder">
                <img [src]="brand.img" [alt]="brand.name" class="my-0 shadow-2" 
                     style="width: 100%; height: 150px; object-fit: cover; border-bottom: 2px solid black; margin-bottom: 0;" />
              </ng-container>
              <ng-template #placeholder>
                <div class="placeholder d-flex align-items-center justify-content-center" style="width: 100%; height: 150px; border-bottom: 2px solid black; margin-bottom: 0;">
                  <i class="pi pi-image fa-2x"></i>
                </div>
              </ng-template>

              <!-- Brand Name -->
              <div  class="mt-2 text-lg font-bold text-center" pTooltip="{{ brand.name }}" tooltipEvent="focus" tooltipPosition="bottom" style="color: rgb(37, 30, 30);">
                {{ brand.name }}
              </div>
            </div>

            <!-- View Details Button -->
            <a [routerLink]="['products/brandlist']" class="btn btn-primary mt-3 w-100 d-flex align-items-center justify-content-center">
              <i class="pi pi-info-circle mr-2"></i> View Details
            </a>
          </div>
        </div>
      </div>
    </div>
</div>

</div>

