<!-- <p>brand-dialog works!</p> -->
<p-dialog [(visible)]="visible" [modal]="true" [closable]="false" [header]="brand.id ? 'Edit Brand' : 'Add Brand'">
  <div class="p-fluid">
    <div class="field">
      <label for="name">Name</label>
      <input id="name" type="text" pInputText [(ngModel)]="brand.name" />
    </div>

    <div class="field">
      <label for="description">Description</label>
      <input id="description" type="text" pInputText [(ngModel)]="brand.description" />
    </div>
  </div>

  <p-footer>
    <button type="button" pButton label="Cancel" class="p-button-secondary" icon="pi pi-times" (click)="hideDialog()"></button>
    <button type="button" pButton label="Save" class="p-button-primary" icon="pi pi-check" (click)="save()"></button>
  </p-footer>
</p-dialog>
