/* src/app/components/brand/brand.component.scss */
.brand-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .brand-card {
    width: 400px;
    margin: 10px;
  }
  