<div class="flex justify-content-between align-items-center">
    <div class="image-holder">
        <ng-container *ngIf="imageSrc; else placeholder">
            <img [src]="imageSrc" alt="Uploaded Image" class="uploaded-image" />
        </ng-container>

        <ng-template #placeholder>
            <div class="placeholder">
                <i class="pi pi-image"></i>
            </div>
        </ng-template>

        <input
            type="file"
            (change)="onFileSelected($event)"
            class="file-input"
        />
    </div>

    <div class="p-fluid p-formgrid grid p-2">
        <div class="field sm:col-12 md:col-4">
            <label [style.fontWeight]="'bold'" htmlFor="name">Model Name</label>
            <input pInputText [(ngModel)]="name" id="name" type="text" />
        </div>
        <div class="field sm:col-12 md:col-4">
            <label [style.fontWeight]="'bold'" htmlFor="brand">Brand</label>
            <p-dropdown
                [disabled]="uuid"
                id="brand"
                appendTo="body"
                [autoZIndex]="true"
                [options]="brandItems"
                [(ngModel)]="selectedBrand"
            ></p-dropdown>
        </div>
        <div class="field sm:col-12 md:col-4">
            <label [style.fontWeight]="'bold'" htmlFor="category"
                >Category</label
            >
            <p-dropdown
                [disabled]="uuid"
                id="category"
                appendTo="body"
                [autoZIndex]="true"
                [options]="categoryItems"
                [(ngModel)]="selectedCategory"
            ></p-dropdown>
        </div>
        <div class="field col-12">
            <label [style.fontWeight]="'bold'" htmlFor="description"
                >Description</label
            >
            <textarea
                rows="4"
                cols="30"
                pInputTextarea
                [(ngModel)]="description"
            >
            </textarea>
        </div>
    </div>
</div>

<div class="flex justify-content-end">
    <p-button
        severity="success"
        label="Save"
        icon="pi pi-save"
        (click)="save()"
    />
</div>
