<div class="layout-topbar">
    <a class="layout-topbar-logo" routerLink="">
        <img src="assets/demo/images/login/Capture.PNG" alt="logo">
    </a>

    <strong class="menu-option" routerLink="">Dashboard</strong>
    <strong class="menu-option" routerLink="/products/list">Products</strong>
    <strong class="menu-option" routerLink="/products/brandlist">Brands</strong>
    <!-- <strong class="menu-option" routerLink="/products/list">Publishers</strong>
    <strong class="menu-option" routerLink="/products/list">Courses</strong> -->
    <strong class="menu-option" routerLink="/videos/gallery">Video</strong>
    <strong class="menu-option" routerLink="/formation/formation">Formation</strong>

    <!-- <button #menubutton class="p-link layout-menu-button layout-topbar-button" (click)="layoutService.onMenuToggle()">
        <i class="pi pi-bars"></i>
    </button> -->

    <button #topbarmenubutton class="p-link layout-topbar-menu-button layout-topbar-button" (click)="layoutService.showProfileSidebar()">
        <i class="pi pi-ellipsis-v"></i>
    </button>

    <div #topbarmenu class="layout-topbar-menu" [ngClass]="{'layout-topbar-menu-mobile-active': layoutService.state.profileSidebarVisible}">
        <button class="p-link layout-topbar-button" routerLink="/products/reservation">
            <i class="pi pi-user"></i>
            <span>Profile</span>
        </button>
        <button class="p-link layout-topbar-button" [routerLink]="'/auth/login'">
            <i class="pi pi-sign-out"></i>
            <span>Logout</span>
        </button>
    </div>
</div>