<!-- <p>video-player works!</p> -->

<!-- <div *ngIf="loading" class="loading">
    Chargement de la vidéo...
  </div>
  
  <div *ngIf="errorMessage" class="error">
    {{ errorMessage }}
  </div>
  
  <div *ngIf="!loading && !errorMessage" class="video-player-container">
    <video controls *ngIf="videoUrl" [src]="videoUrl" class="video-player"></video>
  </div>   -->


  <div class="card">
    <video id="videoPlayer" controls class="card-img-top" #videoPlayer>
      <source src="{{videoMetadata.streamUrl}}" type="{{videoMetadata.contentType}}">
      Your browser does not support the video tag.
    </video>
    <div class="card-body">
      <p class="card-text">{{videoMetadata.description}}</p>
    </div>
  </div>

  <!-- <div class="video-player-container my-4">
    <h1 class="text-center mb-4">{{ videoMetadata?.title }}</h1>
    <div class="video-container">
      <video
        controls
        [src]="videoSrc"
        class="video-player"

      >
        Your browser does not support the video tag.
      </video>
    </div>
    <div class="video-description mt-3">
      <p class="card-text">{{ videoMetadata?.description }}</p>
    </div>
  </div>
   -->