
// .video-player-container {
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     margin-top: 20px;
//   }
  
//   .video-player {
//     width: 100%;
//     max-width: 800px; /* Ajustez la taille maximale du lecteur */
//     border: 1px solid #ccc;
//     border-radius: 10px;
//     box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
//   }
  
.video-player-container {
  max-width: 800px;
  margin: 0 auto;
  text-align: center;
}

.video-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.video-player {
  width: 100%;
  height: auto;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.video-description {
  font-size: 1.1rem;
  color: #555;
}
