.container {
  padding: 20px;
}

.card {
  border-radius: 10px;
  transition: transform 0.2s, box-shadow 0.2s;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card:hover {
  transform: scale(1.02);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.15);
}

.image-holder {
  width: 100%; /* Utilise toute la largeur de la carte */
  height: 180px; /* Hauteur fixe pour l'image */
  overflow: hidden; /* Cache les débordements si nécessaire */
}

.image-holder img {
  width: 100%; /* L'image prendra toute la largeur du conteneur */
  height: 100%; /* L'image prendra toute la hauteur du conteneur */
  object-fit: cover; /* Assure que l'image garde ses proportions */
}

.placeholder {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.card-header {
  padding: 0rem; /* Espacement pour le header */
}

.card-content {
  padding: 0rem; /* Espacement pour le contenu */
}

.card-title {
  font-weight: bold;
  font-size: 1.25rem;
  text-align: center;
}

.card-text {
  color: #666;
  font-size: 0.9rem;
  text-align: center;
}

.btn {
  width: 100%;
  border-radius: 5px;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.mb-4 {
  margin-bottom: 20px; /* Ajustement de l'espacement vertical */
}

.col-md-4 {
  padding-left: 10px; /* Ajustement de l'espacement */
  padding-right: 10px; /* Ajustement de l'espacement */
}

 